RewriteEngine On
## Force www. ##
#RewriteCond %{HTTP_HOST} !^www\.gleanerweekly\.com
#RewriteRule (.*) http://www.gleanerweekly.com/$1 [R=301,L]

## Force non-www. ##
#RewriteCond %{HTTP_HOST} ^www\.gleanerweekly\.com$
#RewriteRule ^/?$ "http\:\/\/gleanerweekly\.com\/" [R=301,L]
#RewriteRule ^(.*)$ http://example.com/$1 [L,R=301]

RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Resolve .html file for extensionless html urls
RewriteRule ^([^/.]+)$ $1.html [L]

# Set browser caching
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access 6 months"
ExpiresByType image/jpeg "access 6 months"
ExpiresByType image/gif "access 6 months"
ExpiresByType image/png "access 6 months"
ExpiresByType image/svg+xml "access 6 months"
ExpiresByType text/css "access 6 months"
ExpiresByType text/html "access 6 months"
ExpiresByType text/xml "access 1 month"
ExpiresByType application/pdf "access 6 months"
ExpiresByType text/x-javascript "access 1 month"
ExpiresByType application/javascript "access 1 month"
ExpiresByType application/x-shockwave-flash "access 6 months"
ExpiresByType image/x-icon "access 6 months"
ExpiresDefault "access 6 months"
</IfModule>
# End caching block

<IfModule mod_deflate.c>
  # Compress HTML, CSS, JavaScript, Text, XML and fonts
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
  AddOutputFilterByType DEFLATE application/x-font
  AddOutputFilterByType DEFLATE application/x-font-opentype
  AddOutputFilterByType DEFLATE application/x-font-otf
  AddOutputFilterByType DEFLATE application/x-font-truetype
  AddOutputFilterByType DEFLATE application/x-font-ttf
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE font/opentype
  AddOutputFilterByType DEFLATE font/otf
  AddOutputFilterByType DEFLATE font/ttf
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE image/x-icon
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/xml

  # Remove browser bugs (only needed for really old browsers)
  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch ^Mozilla/4\.0[678] no-gzip
  BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
  Header append Vary User-Agent
</IfModule>